{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
          View Logbook
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/data.css' %}">
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
    crossorigin="anonymous"> 
    
</head>

<body class="data">

{% block content %}
{% include 'nav.html' %}
    <div class="container">
            <h1>{{title}}</h1>
            
            <center>
              <form action= "" method="POST" action="" class="col-6">
                {% csrf_token %}
              <table>
                {{ form|crispy }}
              </table>
              <input class= "btn btn-warning mb-3" type="submit" value="Search">
            </form>
            </center>
            

            <div id="table-scroll" class="table-scroll mb-4">
              <table id="main-table" class="main-table">
                <thead>
                  <tr>
                    <th scope="col">ENTRY_DATE</th>
                    <th scope="col">UPDATED_DATE</th>
                    <th scope="col">FILE_NO</th>
                    <th scope="col">CASE_NO</th>
                    <th scope="col">COURT</th>
                    <th scope="col">COURT_NO</th>
                    <th scope="col">NO_MALE SUSPECT</th>
                    <th scope="col">NO_FEMALE SUSPECT</th>
                    <th scope="col">NO_UNDERAGE_MALE SUSPECT</th>
                    <th scope="col">NO_UNDERAGE_FEMALE SUSPECT</th>
                    <th scope="col">ASSIGNED TO</th>
                    <th scope="col">AGENCY</th>
                    <th scope="col">DATE REQUEST</th>
                    <th scope="col">STATUTORY DEADLINE</th>
                    <th scope="col">BAIL GRANTED</th>
                    <th scope="col">IN CUSTODY</th>
                    <th scope="col">DATE OF REMAND</th>
                    <th scope="col">PLACE OF REMAND</th>
                    <th scope="col">DATE OF ADVICE</th>
                    <th scope="col">CASE TO ANSWER</th>
                    <th scope="col">ENTRY OFFICER</th>
                    <th scope="col">UPDATED BY</th>
                    <th scope="col">DELETE</th>
                  </tr>
                </thead>

                {% for instance in queryset %}
                <tbody>
                  <tr>
                    <th>{{instance.entry_date}}</th>
                      <td>{{instance.updated_date}}</td>
                      <td><a href="{% url 'logbook_app:edit_logbook' id=instance.id %}">{{instance.file_no}}</td>
                        <td>{{instance.case_no}}</td>
                        <td>{{instance.court}}</td>
                        <td>{{instance.court_no}}</td>
                        <td>{{instance.male_suspect}}</td>
                        <td>{{instance.female_suspect}}</td>
                        <td>{{instance.male_underage_suspect}}</td>
                        <td>{{instance.female_underage_suspect}}</td>
                        <td>{{instance.assigned_to}}</td>
                        <td>{{instance.agency}}</td>
                        <td>{{instance.date_of_request}}</td>
                        <td>{{instance.date_of_receipt}}</td>
                        <td>{{instance.bail_granted}}</td>
                        <td>{{instance.in_custody}}</td>
                        <td>{{instance.date_of_remand}}</td>
                        <td>{{instance.place_of_remand}}</td>
                        <td>{{instance.date_of_advice}}</td>
                        <td>{{instance.case_to_answer}}</td>
                        <td>{{instance.entry_made_by}}</td>
                        <td>{{instance.update_made_by}}</td>

                        {% if perms.logbook_app.delete_inventory_model %}
                        <td><a style="color : red" href="{% url 'logbook_app:delete_logbook' id=instance.id %}">
                          <i class="fas fa-trash fa-lg"></i></a></td>
                        {% else %}
                        <td><i class="fas fa-trash fa-lg" style="color:grey;"></i></td>
                        {% endif %}
                  </tr>
                </tbody>
                {% endfor %}  
              </table>

        </div>             
    </div>
            
{% endblock %} 

        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>


        
        
    
    